
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: grid;
    grid-template-areas: 
    'header header'
    'aside article'
    'h1 h1'
    'section section'
    'footer footer'
    ;
    gap: 10px;
    grid-auto-rows: 600px 200px 80px 100px 100px;
}


.header {
    background-image: url(imagens/pexels-sebastians-1276518\ \(1\).jpg);
    grid-area: header;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside {
    grid-area: aside;
    text-align: center;
    width: 500px;
    height: 500px;
}
/* div do aside */
.about{
    display: flex;
    align-items: center;
    background-color: #d5ddd8;;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;

}

.article {
    grid-area: article;
    text-align: center;
    width: 500px;
    height: 500px;
}

/* div do article */
.skills {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #d5ddd8;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

/* class de imagens da classe skills */
.python, .html, .css, .js, .java, .c, .sql {
    width: 35px;
    margin: 10px;
}

section {
    grid-area: section;
    background-color: brown;
}

footer {
    grid-area: footer;
    background-color: brown;
}

h1 {
    grid-area: h1;
    text-align: center;;
}

img {
    width: 150px;
}

.profile {
    width: 150px;
    color:antiquewhite;

}

/* Classes de imagens que ficam dentro dos botões */
.LinkIcon, .giticon {
    width: 40px;
    
}
/* Classes do botão*/
.linkedin, .github {
    background: rgba(0, 0,0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    
}